{% extends "BlogBundle::layout.html.twig" %}

{% block content %}

    {#{% if app.user != null %}
        {{ dump(app.user) }}
    {% endif %}#}

    {% if is_granted('ROLE_USER') %}
        <strong>
            Esta logueado como usuario normal
        </strong>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <strong>
            Esta logueado como usuario admin
        </strong>
    {% endif %}

    <div class="col-lg-4">
        <h2>Iniciar Sesión</h2>
        <hr/>
        <form action="{{ path("login_check") }}" method="post">
            <label>Email:</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" />
            <br/>
            <label>Contraseña:</label>
            <input type="password" id="password" name="_password" class="form-control" />
            <br/>
            <input type="submit" value="Entrar" class="btn btn-success"/>
            <input type="hidden" name="_target_path" value="/home/login" />
        </form>
    </div>

    <div class="col-lg-6">
        <h2>Registrate</h2>
        <hr/>
        {% for message in app.session.flashbag.get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {{ form_start(form,{'action':'','method':'POST'}) }}
        {{ form_end(form) }}
    </div>
    <div class="clear-fix"></div>
{% endblock %}